# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
/out
.shelf
.DS_Store

# Gradle
.gradle/
/build/
/captures/
.externalNativeBuild
.cxx
local.properties

# Android Test / Device
captures/
/google_services.json

# Log files
*.log

# Built APKs/AARs
*.apk
*.aar

# NDK
obj/

# Keystore files
*.jks
*.keystore

# Others
/local.properties
